<div>
  <h3>Users</h3>
  <a routerLink="/adduser" style="float: right;" class="btn btn-primary">Add User</a><br />

  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile</th>
        <th scope="col">Address</th>
        <th scope="col" colspan="2">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users ">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.mobile}}</td>
        <td>{{user.address}}</td>
        <td>
          <a routerLink="edituser/{{user.id}}" class="btn btn-primary">Edit</a>

        </td>
        <td>
          <button type="button" (click)="deleteuser(user.id)" class="btn btn-mini btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <h3>Users Version Table</h3>
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile</th>
        <th scope="col">Address</th>
        <th scope="col">Action</th>
        <th scope="col">User Modified</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users_v ">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.mobile}}</td>
        <td>{{user.address}}</td>
        <td *ngIf="user.operation_type==1 && !user.end_transaction_id">Created</td>
        <td *ngIf="user.operation_type=='2'">Deleted</td>
        <td *ngIf="user.operation_type==1 && user.end_transaction_id">Updated</td>
        <td>{{user.user_modified}}</td>

      </tr>
    </tbody>
  </table>

</div>